body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.opacity-7 {
  opacity: 0.7;
}
.navbar-link.active{
  color:  #138496 !important;
  font-weight: 600;
}
.navbar-link:hover,
.logout-btn:hover {
  background-color: #138496;
  color: white !important;
  border-radius: 0.25rem;
}
.header-welcome {
  font-size: 1.1em;
}
.header-lead {
  font-size: 1em !important;
}
.user-avatar{
  max-width: 40px;
  max-height: 40px;
}
.navbar{
  min-height: 55px;
}
.nav-item {
  padding: 0.25rem;
}
.dropdown-toggle{
  width: 100%;
  text-align: left !important;
  background-color: white !important;
  color: rgba(0, 0, 0, 0.7) !important;
}
.dropdown-toggle::after{
  position: absolute;
  top: 17px;
  right: 15px;
}
.dropdown-menu {
  width: 100%;
}
.dropdown-item {
  display: inline-block !important;
}
.user-option-avatar {
  max-width: 30px;
  max-height: 30px;
  vertical-align: middle;
}
.home-nav{
  border: 0 !important;
}
.home-link{
  background-color: #eff2f5 !important;
  border-width: 0 !important;
  color: rgba(0, 0, 0, 0.7);
}
.home-link.active{
  color:  #138496 !important;
  background-color: white !important;
  border-color: #dee2e6 #dee2e6 #fff !important;
  font-weight: 600;
}
.home-link:hover{
  color: rgba(0, 0, 0, 0.7);
}
.question-avatar{
  border-right: 1px solid rgba(175, 176, 177, 0.7);
}